<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title class="ion-text-center" #titulo>
      <ion-text >SkeletonAPP</ion-text>
    </ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>
  <ion-segment (ionChange)="onChangeSegment($event)" value="buttons">
    <ion-segment-button value="experienciaLaboral" >
      <ion-label>Experiencia Laboral</ion-label>      
    </ion-segment-button>
    <ion-segment-button value="certificaciones">
      <ion-label>Certificaciones</ion-label>
    </ion-segment-button>
    <ion-segment-button value="misDatos">
      <ion-label>Mis Datos</ion-label>
    </ion-segment-button>
  </ion-segment>
  <app-experiencia-laboral *ngIf="segment === 'experienciaLaboral'"></app-experiencia-laboral>
  <app-certificaciones *ngIf="segment === 'certificaciones'"></app-certificaciones>
  <app-mis-datos *ngIf="segment === 'misDatos'"></app-mis-datos>
  <router-outlet></router-outlet>
</ion-content>

<ion-footer [translucent]="true">
  <ion-toolbar>
    <ion-title style="text-align: center;">PGY4121 - 2024</ion-title>
  </ion-toolbar>
</ion-footer>
