
<ion-card class="ion-text-center">
  <ion-card-header>
    <ion-card-title>Mis Datos</ion-card-title>
    <ion-card-subtitle>Usuario {{user.usuario}}</ion-card-subtitle>
  </ion-card-header>  
  <ion-card-content>
    <ion-list>
      <ion-item >
        <ion-input #nombre_ label="Nombre" [(ngModel)]="nombre" placeholder="Ingrese Nombre"></ion-input>
      </ion-item>
    
      <ion-item >
        <ion-input #apellido_ label="Apellido" [(ngModel)]="apellido" placeholder="Ingrese Apellido"></ion-input>
      </ion-item>
    
      <ion-item>
        <ion-select [(ngModel)]="nivel_educacional" placeholder="Selecciona">
          <div slot="label">Nivel Educativo</div>
          <ion-select-option value="basico">Basico</ion-select-option>
          <ion-select-option value="medio">Medio</ion-select-option>
          <ion-select-option value="superior">Superior</ion-select-option>
        </ion-select>
      </ion-item>
    
      <ion-item>
        <label>Fecha Nacimiento</label>
        <input  matInput [matDatepicker]="picker" [(ngModel)]="fecha_nacimiento" readonly>
        <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-datepicker #picker></mat-datepicker>
      </ion-item>
    <ion-row>
      <ion-col>
        <ion-button (click)="limpiar()">Limpiar</ion-button>
        <ion-button id="present-alert">Mostrar</ion-button>
        <ion-alert trigger="present-alert" header="Usuario" message="Su nombre es {{nombre}} {{apellido}} {{nivel_educacional}} {{fecha_nacimiento}}"
          [buttons]="alertButtons"
        ></ion-alert>
      </ion-col>
    </ion-row>
  </ion-list>
  
  </ion-card-content>
</ion-card>